@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    max-width: 416px;
    display: flex;
    flex-direction: column;
    gap: 26px;
    background-color: #161717;
    color: #fff;
}
.title{
    font-weight: bold;
    font-size: 22px;
}
.login__group{
    display: flex;
    gap: 16px;
}
.btnGoogle{
    height: 40px;
    background-color:#1a73e8;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 2px;
}
.btnGoogle picture{
    height: 36px;
    width: 36px;
    background-color:#fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnGoogle picture img{
    max-width: 60%;
}
.btnGoogle span{
    padding: 0 26px;
    font-size: 14px;
    font-weight:700;
}
.btnTwitter{
    height: 40px;
    width: 40px;

}
.button{
    border: none;
    border-radius: 5px;
    cursor: pointer;    
}
.linea{
    border: none;
    border-top: 1px solid #e7e7e9;
    overflow: visible;
    text-align: center;
    margin-top: 16px;
}
.linea::after{
    content: "Or";
    position: relative;
    background-color:#161717;
    padding:0 16px;
    top: -7px;
    display: inline-block;
    text-align: center;
}

.form_group{
    display: flex;
    gap: 36px;
    flex-direction: column;
}
.form_group label{
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
}
.form_group label input{
    flex: 1 1 100%;
    padding-left: 10px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #212121;
    margin-top: 5px;
    outline: none;
    transition: background-color 0.2s, border 0.2s, box-shadow 0.2s;
    color: #fff;
}
.form_group  input:hover, .form_group label input:focus{
    background-color: #454045;
    outline:1px solid #e4a7fc;
    box-shadow: 0 0 4px #df0e9977;
}
.input_group{
    display: flex;
    gap: 16px;
}
.input_group label{
    display: flex;
    flex-wrap: wrap;
}
.input_group label input{
    flex: 1 1 80%;
}
.form_group .terms{
    flex-wrap: nowrap;
    font-size: 14px;
    color: #6e6d7a;
    font-weight: 300;
}
.form_group .terms input[type="checkbox"]{
    position: relative;
    flex: 1 1 auto;
    top: -15px;
    accent-color: #4f3cc9;
    width:  35px;
    margin-right: 15px;
    border: none;
    outline: none;
    box-shadow: none;
}
.terms input[type="checkbox"]:focus{
    box-shadow: none;
}

.btncreate{
    height: 40px;
    color: #fff;
    background-color:#ea4c89;
}
.btncreate:hover, .btnGoogle:hover{
    opacity: 0.75;
}